body {
  width: 225px;
  height: 400px;
  background-color: #1b1b23;
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
}

#copyButton {
  background-color: #d9eee1;
  width: 200px;
  height: 100px;
  border-radius: 20px;
  margin: auto;
  }

#copyButton:hover{
  background-color: #04aa6d;
  color: white;
}

p, span {
  color: white;
  text-wrap: wrap;
  word-wrap: break-word;
}

#link {
  font-size: 9px;
}

.jobDetailsContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  justify-content: space-evenly;
}

.footer {
  font-size: 10px;
  margin-top: auto;
  margin-bottom: 0;
}